# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular tools for Data Science
* Created a table in jupyter notebook using Markdown cell
* Evaluated basic arithmetic expression in Jupyter Notebook
* Conversion of minutes into hours using python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. pandas
3. numpy
4. scikit
5. scipy

| Data Science Tools |
|-----------------|
| R Studio |
| Github |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integer
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
(200/6)

33.333333333333336

## Author
Parth Kinkar